@import '../../_shared/styles/variable';
@import '../../_shared/styles/mixin';

.card {
    margin: 20px 15px;
    cursor: pointer;
    transition: transform 1s ease;
    width: 100%;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h5 {
            font-size: 14px;
        }

        p {
            margin: 0;
            display: inline;
            font-size: 12px;

            &:first-child,
            img {
                display: none;
            }
        }
    }

    &:hover {
        @include transform(scale(1.1));
    }

    .block-with-text {
        overflow: hidden;
        position: relative;
        line-height: 1.2em;
        max-height: 3.6em;
        margin-right: -1em;
        padding-right: 1em;
        width: 100%;
    }

    .block-with-text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .block-with-text:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
    }

    @media screen and (min-width: 576px) {
        width: calc(100% / 2 - 30px);
        width: auto;
    }

    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1024px) {
        width: calc(100% / 4 - 30px);
    }
}
